*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
  background: black;
}

.stage {
  width: 15em;
  height: 15em;
  /* background-color: lightgrey; */
  position: relative;
  transform: rotate(45deg);
  font-size: 16px;
  animation: zigzack 4s linear infinite alternate-reverse;
}

@keyframes zigzack {
  0% {
    left: 0;
    bottom: 0;
  }

  100% {
    left: 10px;
    bottom: 50px;
  }
}

.body {
  height: 10em;
  width: 4em;
  background-color: #3ca7f5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
}

.top {
  position: absolute;
  height: 2em;
  width: 1em;
  /* background-color: #3ca7f5; */
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.light {
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  top: -0.5em;
  left: 50%;
  background-color: red;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  animation: blink 1s linear infinite alternate-reverse;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.antenna {
  position: absolute;
  height: 1.5em;
  width: 0.1em;
  bottom: 0;
  left: 50%;
  background-color: #3ca7f5;
  transform: translate(-50%, -50%);
  border-radius: 100px;
}
.base2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 1.1em;
  width: 0.5em;
  background-color: #3ca7f5;
  transform: translate(-50%, -50%);
}

.base1 {
  position: absolute;
  height: 0.9em;
  width: 1em;
  bottom: 0;
  left: 50%;
  background-color: #3ca7f5;
  transform: translate(-50%, -50%);
}

.glass {
  position: absolute;
  height: 3em;
  width: 2em;
  background-color: #061627;
  border-radius: 100px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reflection {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  background-color: white;
  border-radius: 100px;
  right: 0.2em;
  top: 0.5em;
  filter: blur(0.06em);
}

.flag {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.boster {
  position: absolute;
  height: 5em;
  width: 2em;
  background-color: #b4d3e9;

  border-radius: 100px;
  z-index: 2;
}
.bosterL {
  bottom: 0em;
  left: -1em;
}

.bosterR {
  bottom: 0em;
  right: -1em;
}

.ring {
  position: absolute;
  height: 1em;
  width: 4em;
  background-color: #275792;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s1 {
  height: 0.5em;
  width: 0.2em;
  background-color: black;
}

.fire {
  position: absolute;
  height: 5em;
  width: 4em;
  /* background-color: whitesmoke; */
  bottom: -5em;
  display: flex;
  justify-content: space-around;
  z-index: 0;
}

.flame {
  position: relative;
  top: -0.3em;
  height: 5em;
  width: 0.5em;
  background-color: #f6a728;
  border-radius: 100px;
}

.flame.h1 {
  height: 4em;
  animation: flameGrowH1 0.5s linear 0.5s infinite alternate-reverse;
}

.flame.h2 {
  height: 3em;
  animation: flameGrowH2 0.5s linear 1s infinite alternate-reverse;
  background-color: #f66928;
}

.flame.h3 {
  height: 5em;
  animation: flameGrowH3 0.5s linear 1.2s infinite alternate-reverse;
}

.flame.h4 {
  height: 5em;
  animation: flameGrowH3 0.4s linear 1s infinite alternate-reverse;
  background-color: #f66928;
}

.flame.h5 {
  height: 5em;
  animation: flameGrowH3 0.6s linear 1.5s infinite alternate-reverse;
}

@keyframes flameGrowH1 {
  0% {
    height: 4em;
  }

  100% {
    height: 6em;
  }
}

@keyframes flameGrowH2 {
  0% {
    height: 4em;
  }

  100% {
    height: 6em;
  }
}
@keyframes flameGrowH3 {
  0% {
    height: 4em;
  }

  100% {
    height: 6em;
  }
}
