.stage {
  width: 15em;
  height: 15em;
  position: relative;
  transform: rotate(45deg);
  font-size: 16px;
  animation: zigzack 4s linear infinite alternate-reverse;
}

.body {
  height: 10em;
  width: 4em;
  background-color: #3ca7f5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
}

.light {
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  top: -0.5em;
  left: 50%;
  background-color: red;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  animation: blink 1s linear infinite alternate-reverse;
}
